#articleMainContainer {
    display: none; /* Toggles to flex */
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    width: 60%;
}

#articleSubContainer {
    margin-bottom: 2rem;
    width: 100%;
    background-color: #19191c;
    overflow: hidden;
}

#tabGroupsAndControls {
    width: 100%;
}

#articleControls {
    display: flex;
    justify-content: left;
    gap: 15px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    width: 100%;
    background-color: #232328;
    border: 1px solid #2a2831;
    border-top: none;
    border-bottom: 1px solid #3c3c49;
}

#loadNoticeText {
    margin-left: auto;
    align-content: center;
    font-size: 12px;
    font-weight: normal;
    color: rgb(193, 135, 48);
}

#articleControlsTitle {
    display: flex;
    justify-content: left;
    padding-left: 15px;
    height: 30px;
    align-items: center;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: normal;
    background-color: #232328;
    border: 1px solid #2a2831;
    border-top: none;
    border-bottom: 1px solid #3c3c49;
}

#articleControlsFade {
    height: 25px;
    margin-bottom: -25px;
    background: linear-gradient(to bottom, rgb(23 23 23) 0%, rgba(255, 0, 0, 0) 100%);
}

#controlSearchBarContainer {
    background-color: #3b3b3b;
    border: 1px solid #80808063;
    width: 30%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 3px;
    padding-right: 1px;
}

#controlSearchBar {
    border: none;
    background-color: transparent;
    color: white;
    margin-bottom: 0px;
    padding-left: 5px;
    outline: none;
    width: 100%;
    height: 20px;
}

#controlSearchFeedbackContainer {
    width: 50px;
    font-size: 12px;
    font-weight: normal;
    align-content: center;
    user-select: none;
}

#controlSearchCountInner {
    display: none; /* flex */
    gap: 3px;
}

#controlButtonsContainer {
    display: flex;
    justify-content: left;
    gap: 10px;
    width: fit-content;
}

#controlSearchCaseSensitiveToggle {
    border: 1px solid transparent;
    padding: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition: all 0.1s;
}

#controlSearchCaseSensitiveToggle:hover {
    cursor: pointer;
    filter: brightness(150%);
    transition: all 0.1s;
}

.controlSearchCaseSensitiveToggleActive {
    border: 1px solid #6767c8 !important;
    background-color: #2e2e88;
    border-radius: 3px;
}

.buttonArrow {
    width: 10px;
    cursor: pointer;
    transition: all 0.1s;
}
.buttonArrow:hover {
    filter: brightness(150%);
    transition: all 0.1s;
}

#articleContainerTemplate {
    display: none;
}
#articleContainer {
    margin: 0 auto;
    padding: 30px;
    height: fit-content;
    width: fit-content;
    box-sizing: content-box;
    border: 1px solid #2a2831;
    filter: blur(2px);
}

#articleImgHeader {
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
    width: calc(100% + 60px);
    max-height: 264px;
    object-fit: cover;
}

#articleTitleContainer {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    gap: 20px;
}

#articleTitle {
    margin-top: 25px;
    font-size: 2em;
    font-weight: bold;
}

#articleTitleLink {
    align-items: center;
    width: 13px;
    height: 13px;
    text-decoration: underline;
    color: #4D95A6;
}
#articleTitleLink:hover {
    cursor: pointer;
}

#articlePublished {
    font-size: 14px;
}

#articleAuthor {
    margin-bottom: 15px;
    font-size: 14px;
}

#articleOriginLink {
    color: #4D95A6;
    font-size: 14px;
    width: fit-content;
    user-select: none;
    font-weight: normal;
}

#articleOriginLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

#articleContent {
    margin-top: 30px;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
}

#articleImage {
    overflow: hidden;
    width: 100%;
    height: 500px; 
    max-height: 500px;
    box-sizing: border-box;
    object-fit: contain;
    border: 0.2px dashed #80808066;
    background: url('https://placehold.co/500x250/transparent/80808010?text=resource+loading..+or+is+unavailable.')
        no-repeat center center;
}
#articleIframe {
    width: 100%;
    height: 500px;
}
#articleTagA {
    text-decoration: none;
    color: rgba(255, 206, 31, 0.8);
}
#articleContent > a {
    text-decoration: none;
    color: rgba(255, 206, 31, 0.8);
}

#scrollToTopButton {
    display: flex;
    position: fixed;
    padding: 2px;
    color: red;
    z-index: 99;
    bottom: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
    border: 1px solid #5E5E62;
    background-color: #252529;
    align-items: center;
    border-radius: 5px;
}

#scrollToTopButton > img {
    width: 25px;
    rotate: 180deg;
    filter: contrast(0);
    transition: all 0.2s ease-out;
}

#scrollToTopButton:hover {
    cursor: pointer;
    border: 1px solid #828285;
    background-color: #323237;
    transition: all 0.2s;
}

#scrollToTopButton:hover > img {
    filter: contrast(2);
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}
h2,
h3,
h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
h4 {
    font-size: 1rem;
}
p {
    line-height: 1.5;
}
ul {
    margin: 0 0 0 18px;
    list-style-type: none;
}
li {
    margin: 4px 0 0 18px;
    list-style-type: disc;
}

table td {
    padding: 1rem;
    border: 1px solid #35414b;
}

a {
    text-decoration: none;
    color: rgba(255, 158, 31, 0.5);
}
a:hover {
    color: rgb(255, 232, 148);
}

hr {
    height: 0;
    margin: 1rem 0;
    border: 0;
    border-bottom: 2px solid hsla(0, 0%, 96.1%, 0.1);
}

.highlight {
    background-color: #f6ff0070;
    color: black;
}

.highlight-lighter {
    background-color: #f2ffc440;
    color: black;
}

.activeHighlight {
    background-color: #e7eb00;
    color: black;
}

figcaption {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    margin-top: 0.5rem;
}

figure {
    margin: 0;
    text-align: unset;
}

figure > div {
    display: block !important;
}
