#headerContainer {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    padding: 15px;
    align-items: center;
}

.headerFlexItem {
    flex: 1;
    display: flex;
    justify-content: center;
}

#logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    user-select: none;
}

#logoIcon {
    width: 32px;
}

#headSearchBarResults {
    display: none;
    position: absolute;
    background-color: #211e3d;
    border-radius: 6px;
    border: 1px solid #333b41;
    width: 100%;
    height: fit-content;
    max-height: 300px;
    word-wrap: break-word;
    margin: 0 auto;
    top: 40px;
    z-index: 99 !important;
    overflow-y: auto;
}

#headSearchBarResults > div {
    text-align: left;
    font-size: 14px;
    padding: 5px 20px 5px 5px;
    border-bottom: 1px solid #333b41;
    border-right: 1px solid #333b41;
    cursor: pointer;
}

#headSearchBarResults > div:hover {
    background-color: #322c57;
    color: #bfbfbf;
}

#headSearchBarResults > div:last-child {
    border-bottom: none;
}

#headSearchBarContainer {
    display: none; /* Toggles to flex */
    position: relative;
    /* width: 35%; */
    margin: 0 auto;
}

#headSearchBar {
    border: none;
    padding-left: 10px;
    height: 28px;
    min-width: 100%;
    border-radius: 5px;
    border: 1px solid #333b41;
    background-color: #211D3D;
    outline: none;
    caret-color: #8c85b6;
    color: #8c85b6;
    font-weight: normal;
}

#headButtonsContainer {
    display: flex;
    gap: 20px;
    justify-content: right;
}

#headButtonsContainer > img {
    transition: all 0.15s;
}
#headButtonsContainer > img:hover {
    filter: brightness(150%);
    transition: all 0.15s;
}

#bungieLogoIcon {
    cursor: pointer;
    width: 23px;
}
#settingsIcon {
    cursor: pointer;
    width: 20px;
}

.searchBarContainer {
    display: flex;
    /* height: 36px; */
    border: 1px solid #595385;
    background-color: #211D3D;
    border-radius: 5px;
}

#spinnerContainer {
    display: flex;
    margin-top: 6px;
    padding-right: 10px;
    justify-content: right;
    align-items: center;
    align-self: flex-start;
}

#searchFiltersContainer {
    display: flex;
    margin-top: 7px;
    gap: 7px;
    z-index: 99;
}

#filterFold, #sortbyFold {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.filterItem, .sortbyItem {
    display: flex;
    border: 1px solid #595385;
    border-top: none;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    width: 70px;
    justify-content: space-between;
    font-size: 13px;
    font-weight: normal;
    background-color:#211D3D;
    user-select: none;
    transition: background-color 0.2s;
    color: #e6e6e6;
}

.fli, .sli {
    display: none;
}

#filterCheckbox {
    accent-color: #4EC760;
    cursor: pointer;
    pointer-events: none;
}

.filterCheckboxLabel {
    pointer-events: none;
}

.filterCheckboxLabel > span {
    font-size: 10px;
    font-style: italic;
    color: gray;
    pointer-events: none;
}

.filterItem:first-child {
    color: #A0A0A0;
    border: 1px solid #595385;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.filterItem:last-child {
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.filterItem:hover {
    cursor: pointer;
    background-color: #2b2649;
    transition: background-color 0.2s;
}

.filterItem > div {
    align-self: center;
}

.filterItem > input {
    margin: 0;
    width: 12px;
}

.sortbyItem:first-child {
    color: #A0A0A0;
    border: 1px solid #595385;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.sortbyItem:last-child {
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.sortbyItem:hover {
    cursor: pointer;
    background-color: #2b2649;
    transition: background-color 0.2s;
}

.sortbyItem > div {
    align-self: center;
}

.sortbyItem > input {
    margin: 0;
    width: 12px;
}

.filterSVG {
    width: 12px;
    pointer-events: none;
}

#headNavIcons {
    display: flex;
    justify-content: right;
}