body {
    /* background: linear-gradient(#1a1828, #100f18); */
    /* background-repeat: no-repeat; */
    background-color: #100f18;
    min-height: 100%;
    height: 100vh;
    color: #8c85b6;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-top: 0;
}

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#headNav {
    display: flex;
    gap: 40px;
}

#headNav > a:hover {
    color: #bfb7ec;
    cursor: pointer;
}

.navButtonControl {
    font-size: 13px;
    text-decoration: none;
}

/* Remove text decoration when visit history */
.navButtonControl:visited { color: #8c85b6; }





#midContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: fit-content;
    padding: 10px;
    justify-content: center;
}

#midContainerTitle {
    font-size: 22px;
}

#midSearchBarContainer {
    display: flex;
    height: 36px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    align-content: center;
    text-align: left;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #211D3D;
    border: 1px solid #595385;
    border-radius: 5px;
}

#midSearchBar {
    outline: none;
    color: #9b96bb;
    background-color: #211D3D;
    border: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
}

#midSearchBar::placeholder {
    color: #686484;
}






.activeSearchBar {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

#midSearchBarResults {
    display: none;
    max-width: 400px;
    margin: 0 auto;
    user-select: none;
}

/* every list result */
#midSearchBarResults > div {
    text-align: left;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #333b41;
    border-top: none;
    cursor: pointer;
}

/* on hover for every list result */
#midSearchBarResults > div:hover {
    background-color: #322c57;
    color: #bfbfbf;
}

/* last result in the list */
#midSearchBarResults > div:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#noResultsFoundText {
    display: none;
    margin-top: 5px;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    text-align: left;
}