.spinner {
    display: flex;
    opacity: 0;
    transition: opacity .2s;
}

.spinner,.spinner svg {
    height: 20px;
    width: 20px
}

.spinner.mini,.spinner.mini svg {
    height: 18px;
    width: 18px
}

.spinner {
    fill: #fff
}

.spinner g .a {
    animation: spinner_bits_a 3s linear infinite
}

.spinner g .b {
    animation: spinner_bits_b 3s linear infinite
}

.spinner g .c {
    animation: spinner_bits_c 3s linear infinite
}

.spinner g .d {
    animation: spinner_bits_d 3s linear infinite
}

.spinner g .e {
    animation: spinner_bits_e 3s linear infinite
}

.spinner g .f {
    animation: spinner_bits_f 3s linear infinite
}

.spinner g:last-child .a {
    animation: spinner_bits_a 1.5s linear infinite
}

.spinner g:last-child .b {
    animation: spinner_bits_b 1.5s linear infinite
}

.spinner g:last-child .c {
    animation: spinner_bits_c 1.5s linear infinite
}

.spinner g:last-child .d {
    animation: spinner_bits_d 1.5s linear infinite
}

.spinner g:last-child .e {
    animation: spinner_bits_e 1.5s linear infinite
}

.spinner g:last-child .f {
    animation: spinner_bits_f 1.5s linear infinite
}

@keyframes spinner_bits_a {
    0% {
        opacity: 1
    }

    16.66667% {
        opacity: 0
    }

    33.33333% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    66.66667% {
        opacity: 0
    }

    83.33333% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes spinner_bits_b {
    0% {
        opacity: 0
    }

    16.66667% {
        opacity: 1
    }

    33.33333% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    66.66667% {
        opacity: 0
    }

    83.33333% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

@keyframes spinner_bits_c {
    0% {
        opacity: 0
    }

    16.66667% {
        opacity: 0
    }

    33.33333% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    66.66667% {
        opacity: 0
    }

    83.33333% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

@keyframes spinner_bits_d {
    0% {
        opacity: 0
    }

    16.66667% {
        opacity: 0
    }

    33.33333% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    66.66667% {
        opacity: 0
    }

    83.33333% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

@keyframes spinner_bits_e {
    0% {
        opacity: 0
    }

    16.66667% {
        opacity: 0
    }

    33.33333% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    66.66667% {
        opacity: 1
    }

    83.33333% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

@keyframes spinner_bits_f {
    0% {
        opacity: 0
    }

    16.66667% {
        opacity: 0
    }

    33.33333% {
        opacity: 0
    }

    50% {
        opacity: 0
    }

    66.66667% {
        opacity: 0
    }

    83.33333% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}